.row
  .small-12.columns
    %h3 Quaderno account data

    %p
      %ul
        %li
          %strong Quaderno user id:
          = @user.quaderno_id
        %li
          %strong Quaderno account id:
          = @user.quaderno_account_id
        %li
          %strong Quaderno subscription id:
          = @user.subscription_id

    %h3 Quaderno Credentials
    %p
      %ul
        %li
          %strong Access token:
          = @user.access_token
        %li
          %strong Refresh token:
          = @user.refresh_token
        %li
          %strong Token expires at:
          = @user.token_expires_at